@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("image/Bground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0 50px 0 50px;
}

#logo {
    display: flex;
    justify-content: center;
    font-family: "Righteous", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    width: 100%;
    padding: 20px 0;
}

.menu {
    display: flex;
    flex-flow: row;
    width: 70%;
    align-items: end;
    padding: 0 0 0 10px;
    height: 60px;
}

.menu a{
    text-decoration: none;
    color: black;
    padding-inline: 10px;
    font-size: 20px;
    opacity: 56%;
}

.profile {
    display: flex;
    width: 330px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    align-items: center;
}

#profile-picture-idk {
    width: 30px;
    height: 30px;
}

.profile p{
    padding-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.profile b{
    color: #FFC94A;
}

.searchbar {
    display: flex;
    flex-wrap: unset;
    width: 100%;
    height: 70px;
    justify-content: center;
    font-weight: 400;
    padding: 15px;
    margin: 0px 40px 0 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px #575c5777;
    opacity: 80%;
}

#dropdown {
    display: none;
}

#dropdown-icon {
    margin-left: 20px;
    font-size: 30px;
    opacity: 50%;
}

.magnify {
    display: flex;
    align-items: center;
    opacity: 40%;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 25px;
    /* border-radius: 10px; */
}

input[type=text]:focus {
    outline: none;
}

.Calculus {
    display: grid;
    grid-template-rows: auto auto;
    margin: 60px 130px;
    row-gap: 30px;
}

.search-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    width: 280px;
    opacity: 56%;
}

.search-text span{
    font-weight: 600;
}

.grid-prof{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 45px;
}

.prof {
    display: grid;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
}

.prof img{
    width: 150px;
    padding: 10px;
}

.prof h3{
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0;
}

#Year {
    font-size: 15px;
    color: rgb(0, 0, 0, 0.56);
}

#GPA {
    font-size: 13px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0, 0.56);
}

#rating {
    font-size: 10px;
    margin-bottom: 20px;
}

.prof a{
    font-size: 12px;
    justify-items: center;
    text-decoration: none;
    color: black;
    padding: 5px 35px;
    border: 1px solid #FFC94A;
    border-radius: 15px;
}

.prof a:hover{
    background-color: #FFC94A;
}