@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#banner{
    background: url(images/Background.png);
    background-size: cover;
    background-position: center;
    height:100vh;
}
.logo{
    width: 260px;
    position: absolute;
    top: 13%;
    left: 13%;
}
.bukuLebah{
    width: 45%;
    position: absolute;
    top: 10px;
    right: 50px;
}
.boxSignUp{
    position: absolute;
    top: 185px;
    left: 205px;
    width: 400px;
    height: max-content;
    border-style: solid;
    border-color: #ffca50;
    border-width: 3px;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px 30px;
}
.inputBox{
    position: relative;
    width: 100%;
    height: 34px;
    background: none;
    margin: 10px 0;
}
.inputBox input{
    width: 100%;
    height: 100%;
    border: #ebebeb;
    background: #ebebeb;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: normal;
    padding: 20px 45px 20px 20px;
    color: #4b4b4b;
    font-size: 11.5px;
}
.inputBox input::placeholder{
    color: #8c8c8c;
}
.inputBox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color:#8c8c8c;
}
.boxSignUp .warning{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: red;
    margin: 0 0 15px;
    
}
.boxSignUp .btn-group{
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    height: 50px;
    top: 80px;
    left: 10px;
}
.boxSignUp .btn-group .btn{ 
    width: 120px;
    height: 38px;
    background: #ffca50;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.boxSignUp .btn-group .btn:hover{ 
    background: #2d2c28;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #ffca50;
    font-weight: 600;
}
.inputBoxSemester{
    position: relative;
    width: 100%;
    height: 34px;
    background: none;
    margin: 10px 0;
    justify-content: left;
}
.inputBoxSemester input{
    width: 50%;
    height: 100%;
    border: #ebebeb;
    background: #ebebeb;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: normal;
    padding: 20px 45px 20px 20px;
    color: #4b4b4b;
    font-size: 11.5px;
}
.inputBox input::placeholder{
    color: #8c8c8c;
}
.role-option{
    position:fixed;
    justify-content:left;
    font-family: "poppins", sans-serif;
}
.container {
    position: relative;
    width: 100%;
    border-radius: 8px;
}
.select-btn {
    display: flex;
    height: 35px;
    width: 60px;
    align-items:center;
    padding: 0 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffca50;
    justify-content: space-between;
}
.select-btn .btnText {
    font-size: 13px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrowDown {
    display: flex;
    height: 16px;
    width: 16px;
    background: #ffffff;
    color: #ffca50;
    font-size: 11px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrowDown {
    transform: rotate(-180deg);
}
.listItems {
    position: relative;
    margin-top: 15px;
    background-color: #ffefca;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-btn.open ~ .listItems {
    display: block;
}
.listItems .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.listItems .item:hover {
    background-color: #fff;
}
.item .itemText {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}
.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox {
    background-color: #ffca50;
    border-color: #ffca50;
}
.checkbox .checkIcon {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.15s ease-in-out;
}
.item.checked .checkIcon {
    transform: scale(1);
}