@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 835px; */
    /* width: 1440px; */
    /* background-image: linear-gradient(to bottom right, #f6f6f6, #fdfd96, #f6f6f6); */
    background-image: url("image/Background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    height: 1024px;
}

/* Header */

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* padding: 0 30px 0 0px; */
    justify-content: space-between;
    /* margin: 0 40px; */
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 20px 50px 0 50px;

}

#logo {
    display: flex;
    justify-content: left;
    font-family: "Righteous", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    /* width: 100%; */
    padding-top: 20px;
}

.menu {
    display: flex;
    flex-flow: row;
    width: 70%;
    align-items: end;
    padding: 0 0 0 10px;
    height: 60px;
}

.menu a{
    text-decoration: none;
    color: black;
    padding-inline: 10px;
    font-size: 20px;
    opacity: 56%;
}

.button-1 {
    display: flex;
    width: 330px;
    justify-content: space-between;
    padding-left: 10px;
}

.button-1 a{
    text-decoration: none;
    padding: 10px 20px;
    width: 135px;
    background-color: #FFC94A;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.button-1 a:hover{
    background-color: black;
    color: #FFC94A;
}

.searchbar {
    display: flex;
    flex-wrap: unset;
    /* width: 950px; */
    height: 70px;
    justify-content: center;
    font-weight: 400;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px -4px black;
    opacity: 80%;
    margin: 20px 50px 0 50px;
}

#dropdown {
    display: none;
}

#dropdown-icon {
    /* padding-left: 2px; */
    /* padding-right: 25px; */
    font-size: 30px;
    opacity: 50%;
}

.magnify {
    display: flex;
    align-items: center;
    padding: 0 10px;
    opacity: 40%;
}

.magnify label{
    font-size: 30px;
}

input[type=text] {
    width: 100%;
    /* padding: 10px; */
    border: none;
    font-size: 25px;
}

input[type=text]:focus {
    outline: none;
}

.profile {
    display: flex;
    width: 330px;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}

#profile-picture-idk {
    width: 30px;
    height: 30px;
}

.profile p{
    padding-left: 10px;
    font-size: 25px;
}

.profile b{
    color: #FFC94A;
}

/*About Page*/

.about{
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-content: start; */
    align-items: start;
    height: 694px;
    margin: 0 90px;
}

.about-text {
    display: flex;
    flex-flow: row;
    align-items: baseline;
}

.about-text h1{
    font-size: 150px;
    font-family: "Righteous", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-right: 30px;
}

.about-text p {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 38px;
    text-align: justify;
    opacity: 56%;
}

.about-text-box {
    display: flex;
    width: 950px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 35px;
    background-color: #FFC94A;
    opacity: 60%;
    border-radius: 10px;
}

.about-text-box p{
    width: 844px;
    left: 158px;
    top: 430px;
    font-size: 25px;
    text-align: justify;
    line-height: 38px;
}

.about-text-box span{
    font-style: italic;
}

.about-img {
    position: absolute;
    z-index: -1;
    right: 0px;
    opacity: 20%;
}