* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 835px; */
    /* width: 1440px; */
    /* background-image: linear-gradient(to bottom right, #f6f6f6, #fdfd96, #f6f6f6); */
    background-image: url("image/Background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 40px; */
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0 100px 0 50px;
}

.logo-container {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.logo {
    width: 180px;
    /* height: auto;  */
}

#dropdown {
    display: none;
}

#dropdown-icon {
    margin-left: 25px;
    font-size: 30px;
    opacity: 50%;
}

.help {
    display: flex;
    padding: 15px;
    width: 100%;
    height: 70px;
    align-items: center;
    font-weight: 400;
    border: 1px solid black;
    background-color: white;
    margin: 0px 40px 0 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #575c5777;
    opacity: 80%;
    font-size: 25px;
    color: rgb(0, 0, 0, 0.56);
}

.help input {
    display: none;
    border: none;
    outline: none;
    width: 95%;
    font-size: 20px;
    margin-left: 10px;
    justify-content: left;
    background-color: transparent;
    cursor: pointer;
}

.help img{
    width: 25px;
    margin-right: 20px;
    margin-left: 10px;
}

.profile {
    display: flex;
    width: 25%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#user {
    width: 30px;
    height: 30px;
}

.profile p{
    padding-left: 10px;
    font-size: 25px;
}

.profile b{
    color: #FFC94A;
}

.payment-page {
    display: grid;
    grid-template-columns: 35% auto;
    margin: 20px 130px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    gap: 30px 50px;
    padding: 50px 0;
    height: max-content;
}

.payment{
    grid-column: 1/3;
}

.Choose-payment{
    display: grid;
    padding: 15px 35px;
    border: 1px solid black;
    border-radius: 10px;
    row-gap: 10px;
}

.devider1,.devider2,.devider3,.devider4,.devider5,.devider6,.devider7,.devider8,.devider9,.devider10,.devider11{
    height: 1px;
    width: 100%;
    background-color: #575c5777;
    /* margin: 10px 0; */
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0000005d;
    transition: background-color 0.3s;
}

.payment-option.selected .circle {
    background-color: #feb300;
}

.payment-option {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.payment-option span{
    padding: 20px 0;
    font-size: medium;
}

.payment-method-p {
    text-align: center;
    padding-bottom: 20px;
    font-size: large;
}

.payment-detail{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 35px;
    row-gap: 10px;
}

.payment-detail-p {
    text-align: center;
    padding-bottom: 20px;
    font-size: large;
}

.tutoring,.adminfee,.total,.paymentmethod {
    display: grid;
    grid-template-columns: 80% auto;
    padding: 30px 10px;
    align-items: center;
}

#confirm-payment-box{
    display: grid;
    align-items: center;
    justify-items: center;
}

#confirm-payment {
    background-color: #FFC94A;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px #575c5777;
    width: 80%;
    opacity: 80%;
}

#confirm-payment:hover{
    background-color: white;
}


/* body {
    margin: 0;
    padding: 0;
    background-image: url("image/Background-image.png");
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-container {
    padding-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto; 
}

.line1, .line2 {
    width: 28px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.line1 {
    top: 90px;
    left: 50px;
}

.line2 {
    top: 100px;
    left: 50px;
}

.help {
    position: absolute;
    width: 880px;
    height: 45px;
    top: 70px;
    left: 110px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    box-shadow: 0px 4px 4px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #00000056;
    cursor: pointer;
}

.help input {
    display: none;
    border: none;
    outline: none;
    width: 95%;
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.help img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.hey {
    position: absolute;
    top: 80px;
    right: 177px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #00000056;
}

.user-container {
    position: absolute;
    top: 83px;
    padding-bottom: 20px;
    right: 240px;
    width: 30px;
    height: 30px;
}

.user {
    width: 30px;
    height: auto;
}

.yourname {
    position: absolute;
    top: 80px;
    right: 60px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #feb300;
}

.payment {
    position: absolute;
    top: 130px;
    left: 120px;
    height: 207px;
    width: 307px;
    display: flex;
    justify-content: flex-start;
    color: #000000ba;
    font-family: Poppins, sans-serif;
}

.booking-id {
    position: absolute;
    top: 150px;
    left: 120px;
    height: 207px;
    width: 307px;
    display: flex;
    justify-content: flex-start;
    color: #000000ba;
    font-family: Poppins, sans-serif;
}

.payment-method {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 210px;
    left: 110px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #000000a6;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    left: 170px;
    top: 290px;
    font-family: Poppins, sans-serif;
    color: #00000080;

}

.payment-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-option span {
    margin-left: 10px;
    font-size: 18px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0000005d;
    transition: background-color 0.3s;
}

.payment-option.selected .circle {
    background-color: #feb300;
}

#selected-method {
    position: absolute;
    align-items: last baseline;
    bottom: 80px;
    right: 140px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.devider1, .devider2, .devider3, .devider4, .devider5, .devider6, .devider7 {
    width: 430px;
    height: 0.5px;
    background-color: black;
    position: absolute;
    left: 143px;
}

.devider1 {
    top: 280px;
}
.devider2 {
    top: 330px;
}
.devider3 {
    top: 380px;
}
.devider4 {
    top: 430px;
}
.devider5 {
    top: 480px;
}
.devider6 {
    top: 530px;
}
.devider7 {
    top: 580px;
}

.payment-detail {
    position: absolute;
    width: 550px;
    height: 400px;
    top: 210px;
    right: 90px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #000000a6;
}

.devider8, .devider9, .devider10, .devider11 {
    width: 440px;
    height: 0.5px;
    right: 143px;
    background-color: black;
    position: absolute;
}

.devider8 {
    top: 280px;
}

.devider9 {
    top: 380px;
}

.devider10 {
    top: 440px;
}

.devider11 {
    top: 500px;
}

.tutoring {
    position: absolute;
    align-items: last baseline;
    top: 275px;
    right: 370px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.adminfee {
    position: absolute;
    align-items: last baseline;
    top: 400px;
    right: 460px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.total {
    position: absolute;
    align-items: last baseline;
    top: 473px;
    right: 515px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.paymentmethod {
    position: absolute;
    align-items: last baseline;
    top: 520px;
    right: 405px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.confirmpayment {
    position:absolute;
    width: 350px;
    height: 35px;
    align-items:center;
    bottom: 0px;
    right: 180px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-color: #0000005d;
    box-shadow: 0px 4px 4px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    color: #0000007e;
    cursor: pointer;
    background-color: #feb300;
    z-index: 1;
}

.confirmpayment:hover {
    background-color: #feb20086;
    color: #333333ab;
}

#confirm-payment{
    border: none;
    background: none;
}

.price-tutor {
    position: absolute;
    align-items: last baseline;
    top: 300px;
    right: 139px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.price-adminfee {
    position: absolute;
    align-items: last baseline;
    top: 380px;
    right: 140px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

.total-price {
    position: absolute;
    align-items: last baseline;
    top: 453px;
    right: 140px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #00000082;
}

 */
