* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 835px; */
    /* width: 1440px; */
    /* background-image: linear-gradient(to bottom right, #f6f6f6, #fdfd96, #f6f6f6); */
    background-image: url("image/Background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0 100px 0 50px;
}

.logo-container {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.logo {
    width: 180px;
}

#dropdown {
    display: none;
}

#dropdown-icon {
    margin-left: 25px;
    font-size: 30px;
    opacity: 50%;
}

.help {
    display: flex;
    padding: 15px;
    width: 100%;
    height: 70px;
    align-items: center;
    font-weight: 400;
    border: 1px solid black;
    background-color: white;
    margin: 0px 40px 0 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #575c5777;
    opacity: 80%;
    font-size: 25px;
    color: rgb(0, 0, 0, 0.56);
}

.help input {
    display: none;
    border: none;
    outline: none;
    width: 95%;
    font-size: 20px;
    margin-left: 10px;
    justify-content: left;
    background-color: transparent;
    cursor: pointer;
}

.help img{
    width: 25px;
    margin-right: 20px;
    margin-left: 10px;
}

.profile {
    display: flex;
    width: 25%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#user {
    width: 30px;
}

.profile p{
    padding-left: 10px;
    font-size: 25px;
}

.profile b{
    color: #FFC94A;
}

.payment-page {
    display: flex;
    flex-flow: column;
    grid-template-rows: auto auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 10px;
    margin: 20px 130px;
    row-gap: 30px;
    align-items: center;
    width: 82%;
}

.payment{
    width: 100%;
    font-size: x-large;
    opacity: 56%;
}

.payment-detail {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    background-color: #63BC76;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 30px;
    width: 50%;
    color: white;
    font-size: larger;
}

#payment-detail-p{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.devider1,.devider2,.devider3,.devider4{
    height: 1px;
    width: 100%;
    background-color: white;
    /* margin: 10px 0; */
}

.tutoring,.adminfee,.total,.paymentmethod {
    display: grid;
    grid-template-columns: 80% auto;  
    align-items: center;  
    padding: 30px 0;
    width: 100%;
}

#price-tutor,#price-adminfee,#total-price,#dana2{
    text-align: right;
}

.confirmed {
    width: 15px;
}

.button {
    display: flex;
    padding: 10px;
    column-gap: 20px;
    justify-content: center;
    /* width: 100%; */
}

.paymenconfirmed {
    display: flex;
    flex-flow: row;
}

#payment-confirmed,#check-schedule {
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #575c5777;
    font-size: small;
    border: none;
}

#payment-confirmed {
    display: flex;
    background-color: #E0EEFF;
    align-items: center;
    column-gap: 10px;
}

#check-schedule{
    background-color: #FFD772;
}

/* body {
    margin: 0;
    padding: 0;
    background-image: url("image/Background-image.png");
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-container {
    padding-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto; 
}

.line1, .line2 {
    width: 28px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.line1 {
    top: 90px;
    left: 50px;
}

.line2 {
    top: 100px;
    left: 50px;
}

.help {
    position: absolute;
    width: 880px;
    height: 45px;
    top: 70px;
    left: 110px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    box-shadow: 0px 4px 4px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #00000056;
    cursor: pointer;
}

.help input {
    display: none;
    border: none;
    outline: none;
    width: 95%;
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.help img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.hey {
    position: absolute;
    top: 80px;
    right: 177px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #00000056;
}

.user-container {
    position: absolute;
    top: 83px;
    padding-bottom: 20px;
    right: 240px;
    width: 30px;
    height: 30px;
}

.user {
    width: 30px;
    height: auto;
}

.yourname {
    position: absolute;
    top: 80px;
    right: 60px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    color: #feb300;
}

.payment {
    position: absolute;
    top: 130px;
    left: 120px;
    height: 207px;
    width: 307px;
    display: flex;
    justify-content: flex-start;
    color: #000000ba;
    font-family: Poppins, sans-serif;
}

.booking-id {
    position: absolute;
    top: 150px;
    left: 120px;
    height: 207px;
    width: 307px;
    display: flex;
    justify-content: flex-start;
    color: #000000ba;
    font-family: Poppins, sans-serif;
}

.payment-detail {
    position: absolute;
    width: 550px;
    height: 400px;
    top: 210px;
    right: 370px;
    background-color: rgba(36, 123, 36, 0.877);
    /* border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #00000056;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.devider8, .devider9, .devider10, .devider11 {
    width: 440px;
    height: 0.5px;
    right: 420px;
    background-color: white;
    position: absolute;
}

.devider8 {
    top: 280px;
}

.devider9 {
    top: 380px;
}

.devider10 {
    top: 440px;
}

.devider11 {
    top: 500px;
}

.tutoring {
    position: absolute;
    align-items: last baseline;
    top: 275px;
    right: 650px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.adminfee {
    position: absolute;
    align-items: last baseline;
    top: 400px;
    right: 743px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.total {
    position: absolute;
    align-items: last baseline;
    top: 473px;
    right: 800px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.paymentmethod {
    position: absolute;
    align-items: last baseline;
    top: 520px;
    right: 690px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.price-tutor {
    position: absolute;
    align-items: last baseline;
    top: 300px;
    right: 420px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.price-adminfee {
    position: absolute;
    align-items: last baseline;
    top: 380px;
    right: 420px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.total-price {
    position: absolute;
    align-items: last baseline;
    top: 453px;
    right: 420px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.dana2 {
    position: absolute;
    align-items: last baseline;
    top: 500px;
    right: 420px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.paymentconfirmed {
    position:fixed;
    width: 190px;
    height: 35px;
    align-items:center;
    bottom: 40px;
    left: 450px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-color: #0000005d;
    box-shadow: 0px 4px 4px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #0000007e;
    cursor: pointer;
    background-color: #e0eeff;
    z-index: 1;
}

.paymentconfirmed:hover {
   background-color: #bfdbfd;
   color: #333333ab;
}

.confirmed-container {
    position: absolute;
    bottom: 17px;
    padding-bottom: 20px;
    left: 614px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.confirmed {
    width: 16px;
    height: auto;
}

.checkschedule {
    position:fixed;
    width: 190px;
    height: 35px;
    align-items:center;
    bottom: 40px;
    right: 440px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-color: #0000005d;
    box-shadow: 0px 4px 4px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color:#0000008a;
    cursor: pointer;
    background-color: #ffd772;
    z-index: 1;
}

.checkschedule:hover {
   background-color: #f4c347;
   color: #333333ab;
} */